
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thaks for shopping with us, <%= @user %> !</h1>

    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order_total = 0 %>
        <% @line_items.each do |line_item| %>
          <%= render 'item', line_item: line_item %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>
            TOTAL:
          </th>
          <th>
            <%= @order_total %>
          </th>
        </tr>
      </tfoot>
    </table>

  </body>
</html>